<div ng-controller="StatisticsController">
    <h1 class="page-header">Selling Statistics</h1>
    <form class="form-inline">
        <div class="form-group">
            <label for="inputFromDate" class="col-sm-2 control-label">From:</label>
            <div class="col-sm-2">
                <input type="month" class="form-control" id="inputFromDate" ng-model="model.startTime">
            </div>
        </div>
        <div class="form-group">
            <label for="intputToDate" class="col-sm-2 control-label">to:</label>
            <div class="col-sm-2">
                <input type="month" class="form-control" id="intputToDate" ng-model="model.endTime">
            </div>
        </div>
            <button class="btn btn-primary" ng-click="model.updateTimeRange()">Submit</button>
    </form>
    <div id="statisCanvas"></div>

    <h2>Mosts</h2>
    <table class="table table-hover table-striped">
        <tr>
            <td>Best seller in this period</td>
            <td><a href="#/book/{{model.bestSeller._id}}">{{model.bestSeller.title}}</a></td>
        </tr>
        <tr>
            <td>Best selling author</td>
            <td><a href="#/search/{{model.bestAuthor}}">{{model.bestAuthor}}</a></td>
        </tr>
        <tr>
            <td>Customer buying most books</td>
            <td>{{model.bestBuyer}}</td>
        </tr>
    </table>
</div>