<h1 class="page-header">Forms</h1>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#/form">Forms</a></li>
    <li role="presentation"><a>Fields</a></li>
</ul>
<table class="table table-striped" ng-controller="FormController">
    <thead>
    <tr>
        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Form Names</th>
        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Action</th>
    </tr>
    <tr>
        <th><input type="text" class="form-control" id="inputName" placeholder="name" ng-model="model.newTitle"/></th>
        <th>
            <div class="btn-group pull-right">
                <a ng-click="model.addForm()"><span class="glyphicon glyphicon-plus"></span></a>
                <a ng-click="model.updateForm()"><span class="glyphicon glyphicon-ok"></span></a>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="form in model.forms">
        <td><a href="#/user/{{model.userId}}/form/{{form.id}}/fields">{{form.title}}</td>
        <td>
            <div class="btn-group pull-right">
                <a ng-click="model.deleteForm($index)"><span class="glyphicon glyphicon-remove"></span></a>
                <a ng-click="model.selectForm($index)"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
        </td>
    </tr>
    </tbody>
</table>