<div ng-controller="CartController">
    <h1 class="page-header">{{model.currentUser.username}}'s Cart</h1>
    <div ng-show="model.bookList!=null&&model.bookList.length>0">
        <table class="table table-hover table-hover table-striped" >
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Number</th>
                <th>Sum</th>
                <th>Edit</th>
            </tr>
            <tr ng-repeat="book in model.bookList">
                <td class="picture">
                    <img class="bookPicBlock center-block" src="{{book.image}}" />
                </td>
                <td class="textLabel"><a href="#/book/{{book._id}}">{{book.title}}</a></td>
                <td class="textLabel">{{book.author}}</td>
                <td class="textLabel">${{book.price}}</td>
                <td id="amount">
                    Available: {{book.quantity}}<br />
                    <form class="inputField">
                        <input type="text" name="amount" size="6" maxlength="5" ng-model="book.bookNumber"/>
                        <input class="btn btn-primary btn-xs" value="Update" ng-click="model.updateNumber(model, book)">
                    </form>
                </td>
                <td>{{book.linePrice}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="model.deleteBook(book)">Delete</button>
                </td>
            </tr>
        </table>
        <div id="totalPrice" class="pull-right text-right">
            <h3>Total: ${{model.totalPrice}}</h3>
            <a href="#/checkout"><button class="btn btn-primary">Checkout</button></a>
        </div>
    </div>
    <div ng-show="model.bookList==null||model.bookList.length==0"><p>No items in cart.</p></div>
</div>







