<h1 class="page-header">My Orders</h1>
<div id="orderList" ng-controller="OrdersController">
    <table class="table table-striped table-hover">
        <tr>
            <th>Order ID</th>
            <th>Purchased Date</th>
            <th>Receiver</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
        <tr ng-repeat="order in model.orders">
            <td><a href="#/order/{{order._id}}">{{order._id}}</a></td>
            <td>{{model.formatTime(order.time)}}</td>
            <td>{{order.receiver}}</td>
            <td>${{order.totalPrice}}</td>
            <td>{{order.status}}</td>
        </tr>
    </table>
</div>