.center {
    width: 740px;
    min-height: 780px;
    display: block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}


#footer {
    width: 740px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: auto;
}

.bookBriefly {
    height: auto;
    overflow: hidden;
    border-bottom: 1px dotted rgb(102, 102, 102);
    margin-bottom: 10px;
    padding-left: 10px;
}

p.textLabel {
    color: #111;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18px;
    margin: 4px 0px;
}

.sndTitle {
    color: #060;
    width: auto;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style:  normal;
    font-variant: normal;
    font-weight: bold;
    clear: both;
    margin-bottom: 10px;
    margin-top: 20px;
}

.bookPicBlock {
    overflow: auto;
    width: 97px;
    float: left;
    margin-right: 10px;
    min-height: 151px;
}

.bookPicLarge {
    float: left;
    width: 140px;
    height: 200px;
    margin-right: 10px;
    text-align: center;
}

span,p.time {
    color: rgb(102, 102, 102);
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 0px;
    line-height: 18px;
    margin: 0px;
    width: 0px;
}

.inputField .inputTitle {
    font-size: 20px;
    width: 250px;
    border-radius: 10px;
}

.bookInfoBlock {
    min-height: 200px;
}

.userPicBlock {
    float: left;
    width: 60px;
    margin-right: 20px;
}

.userPicSmall {
    width: 48px;
    height: 48px;
    border: 1px solid #999999;
}

.commentContent{
    line-height: 25px;
    font-size: 14px;
}

.commentInfo {
    float: left;
}

.commentBriefly {
    border-bottom: 1px dotted rgb(102, 102, 102);
    margin-bottom: 10px;
}

#newAmount {
    width: 30px;
}

.cartLine {
    width: 100%;
    margin: auto;
    text-align: center;
}