<h1 class="page-header">All Orders</h1>
<div id="orderList" ng-controller="AllOrdersController">
    <table class="table table-striped table-hover">
        <tr class="orderLine">
            <th>Order ID</th>
            <th>Purchased Date</th>
            <th>Receiver</th>
            <th>Price</th>
            <th>Status</th>
            <th>Edit</th>
        </tr>
        <tr class="orderLine" ng-repeat="order in model.orders">
            <td><a href="#/order/{{order._id}}">{{order._id}}</a></td>
            <td>{{model.formatTime(order.time)}}</td>
            <td>{{order.receiver}}</td>
            <td>${{order.totalPrice}}</td>
            <td>{{order.status}}</td>
            <td><button class="btn btn-danger" ng-click="model.deleteOrder(order)">Delete</button></td>
        </tr>
    </table>
</div>