<div ng-controller="BookController">
    <div id="bookDetail">
        <h2 class="page-header">{{model.bookInfo.title}}</h2>
        <div class="bookInfoBlock">
            <div class="bookPicLarge">
                <img class="img-responsive" src="{{model.bookInfo.image}}" /></a>
            </div>
            <p class="textLabel">
                <span>Author</span>: {{model.bookInfo.author}}
            </p>
            <p class="textLabel">
                <span>ISBN</span>: {{model.bookInfo.isbn}}
            </p>
            <p class="textLabel">
                <span>Publisher</span>: {{model.bookInfo.publisher}}
            </p>
            <p class="textLabel">
                <span>Published Date</span>: {{model.bookInfo.date}}
            </p>
            <p class="textLabel">
                <span>Pages</span>: {{model.bookInfo.page}}
            </p>
            <p class="textLabel">
                <span>Price</span>: {{model.bookInfo.price}}
            </p>
            <p class="textLabel">
                <span>Available</span>: {{model.bookInfo.quantity}}
            </p>
            <a ng-click="model.addToCart()"><button class="btn btn-primary">Add To Cart</button></a>
            <a ng-click="model.delete()" ng-show="model.isAdmin"><button class="btn btn-danger">Delete</button></a>
            <a ng-click="model.edit()" ng-show="model.isAdmin"><button class="btn btn-primary">Edit</button></a>
        </div>

        <div class="sndTitle">Author</div>
        <p class="authorIntro">
            {{model.bookInfo.authorIntro}}
        </p>
        <div class="sndTitle">Description</div>
        <p class="content">
            {{model.bookInfo.description}}</p>
    </div>
    <div id="comment">
        <p class="sndTitle">Comments</p>
        <div ng-show="model.bookInfo.comments.length!=0">
            <div class="commentList">
                <div class="commentBriefly row" ng-repeat="comment in model.bookInfo.comments">
                    <div class="userPicBlock col-sm-3">
                        <img class="userPicSmall" src="{{comment.user.imageURL}}"/>
                        {{comment.user.username}}
                        <button class="btn btn-danger" ng-click="model.removeComment(comment)" ng-show="model.isAdmin">Delete</button>
                    </div>
                    <div class="commentInfo col-sm-10">
                        <h5>{{comment.title}} <span class="smallerText">Rating: {{comment.grade}}</span></h5>
                        <p>{{comment.content}}</p>
                        <p class="smallerText">{{model.formatTime(comment.time)}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="model.bookInfo.comments.length==0">
            <p>No comments now.</p>
        </div>

        <p class="sndTitle">Add New Comment</p>
        <div ng-show="model.currentUser!=null">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputTitle" class="col-sm-2 control-label">Comment Title:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="model.newComment.title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputContent" class="col-sm-2 control-label">Comment Content:</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="inputContent" rows="10" placeholder="Comments" ng-model="model.newComment.content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputScore" class="col-sm-2 control-label">Score:</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="inputScore" ng-model="model.newComment.grade">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-5">
                        <button type="submit" class="btn btn-block btn-primary" ng-click="model.addComment()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="model.currentUser==null">
            <p>You can add comments after <a href="#/login">Login</a> </p>
        </div>
        </div>
    </div>
</div>