<div ng-controller="HomeController">
    <h2 class="sndTitle">New Books</h2>
    <div class="bookList">
        <div class="bookBriefly" ng-repeat="book in model.tenLatestBooks">
            <div class="bookPicBlock">
                <a href="#/book?bookId={{book._id}}">
                    <img class="img-responsive" src="{{book.image}}"/>
                </a>
            </div>
            <p class="textLabel">
                Book: <a href="#/book?bookId={{book._id}}">{{book.title}}</a>
            </p>
            <p class="textLabel">Author: {{book.author}}</p>
            <p class="textLabel">Price: {{book.price}}</p>
            <p class="textLabel">Sold: {{book.sold}}</p>
        </div>
    </div>

    <h2 class="sndTitle">Best Sellers</h2>
    <div class="bookList">
        <div class="bookBriefly" ng-repeat="book in model.topTenSellers">
            <div class="bookPicBlock">
                <a href="#/book?bookId={{book._id}}">
                    <img class="img-responsive" src="{{book.image}}"/>
                </a>
            </div>
            <p class="textLabel">
                Book: <a href="#/book?bookId={{book._id}}">{{book.title}}</a>
            </p>
            <p class="textLabel">Author: {{book.author}}</p>
            <p class="textLabel">Price: {{book.price}}</p>
            <p class="textLabel">Sold: {{book.sold}}</p>
        </div>
    </div>
</div>