<div ng-controller="CheckoutController">
    <h1 class="page-header">Checkout</h1>
    <table class="table table-hover table-striped">
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Number</th>
            <th>Sum</th>
        </tr>
        <tr ng-repeat="book in model.bookList">
            <td class="picture">
                <img class="bookPicBlock center-block" src="{{book.image}}" />
            </td>
            <td class="textLabel"><a href="#/book/{{book._id}}">{{book.title}}</a></td>
            <td class="textLabel">{{book.author}}</td>
            <td class="textLabel">${{book.price}}</td>
            <td class="textLabel">{{book.bookNumber}}</td>
            <td>${{book.linePrice}}</td>
        </tr>
    </table>
    <div id="totalPriceInCheckout"><h3>Total: ${{model.totalPrice}}</h3></div>


    <div id="orderInfo">
        <form class="form-horizontal">
            <h3>Shipping Information</h3>
            <div class="form-group">
                <label for="inputShipName" class="col-sm-2 control-label">Full Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputShipName" ng-model="model.order.receiver">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress" class="col-sm-2 control-label">Address:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputAddress" ng-model="model.order.address">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhone" class="col-sm-2 control-label">Phone:</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" id="inputPhone" ng-model="model.order.telephone">
                </div>
            </div>
            <h3>Payment Information</h3>
            <div class="form-group">
                <label for="inputCreditCard" class="col-sm-4 control-label">Credit Card Number:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inputCreditCard" placeholder="Card Number" ng-model="model.cardNum">
                </div>
            </div>
            <div class="form-group">
                <label for="inputExpDate" class="col-sm-4 control-label">Expiration Time(MM/YY):</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inputExpDate" placeholder="MM/YY" ng-model="model.expDate">
                </div>
            </div>
            <div class="form-group">
                <label for="inputCVV" class="col-sm-4 control-label">CVV:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inputCVV" placeholder="XXX" ng-model="model.cvv">
                </div>
            </div>
            <button class="btn btn-primary btn-block" ng-click="model.submitOrder()">Submit Order</button>
        </form>
    </div>
</div>



