<h1 class="page-header">Search Result</h1>
<div class="bookList" ng-controller="SearchController">
    <div class="bookBriefly" ng-repeat="book in model.result">
        <div class="bookPicBlock">
            <a href="#/book/{{book._id}}">
                <img class="img-responsive" src="{{book.image}}"/>
            </a>
        </div>
        <p class="textLabel">
            Book: <a href="#/book/{{book._id}}">{{book.title}}</a>
        </p>
        <p class="textLabel">Author: {{book.author}}</p>
        <p class="textLabel">Price: {{book.price}}</p>
        <p class="textLabel">Sold: {{book.sold}}</p>
    </div>
</div>