<h1 class="page-header">Search Result</h1>
<div class="bookList">
    <div class="bookBriefly">
        <div class="bookPicBlock">
            <a href="#/book?id=2">
                <img class="img-responsive" src="bookPic/2.jpg"/>
            </a>
        </div>
        <p class="textLabel">
            Book: <a href="#/book?id=2">Diary of a Wimpy Kid: Old School</a>
        </p>
        <p class="textLabel">Author: Jeff Kinney</p>
        <p class="textLabel">Price: 7.92</p>
        <p class="textLabel">Sold: 10</p>
    </div>
    <div class="bookBriefly">
        <div class="bookPicBlock">
            <a href="#/book?id=3">
                <img class="img-responsive" src="bookPic/3.jpg" alt="bookTitle3" />
            </a>
        </div>
        <p class="textLabel">
            Book: <a href="#/book/3">First 100 Words</a>
        </p>
        <p class="textLabel">Author: Roger Priddy</p>
        <p class="textLabel">Price: 3.30</p>
        <p class="textLabel">Sold: 1</p>
    </div>
    <div class="bookBriefly">
        <div class="bookPicBlock">
            <a href="#/book/4">
                <img class="img-responsive" src="bookPic/4.jpg" alt="bookTitle4" />
            </a>
        </div>
        <p class="textLabel">
            Book: <a href="#/book/4">Troublemaker: Surviving Hollywood and Scientology</a>
        </p>
        <p class="textLabel">Author: Leah Remini</p>
        <p class="textLabel">Price: 15.99</p>
        <p class="textLabel">Sold: 0</p>
    </div>
</div>