<h1 class="page-header">Edit Book</h1>
<form class="form-horizontal" ng-controller="BookEditController">
    <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">Title:</label>
        <div class="col-sm-10">
            <p class="form-control" id="inputTitle">{{model.bookInfo.title}} (From External API, Cannot Be Modified)</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAuthor" class="col-sm-2 control-label">Author:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputAuthor" ng-model="model.bookInfo.author">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPublisher" class="col-sm-2 control-label">Publisher:</label>
        <div class="col-sm-10">
            <p class="form-control" id="inputPublisher">{{model.bookInfo.publisher}}  (From External API, Cannot Be Modified)</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPublishedDate" class="col-sm-2 control-label">Published Date:</label>
        <div class="col-sm-10">
            <p class="form-control" id="inputPublishedDate">{{model.bookInfo.date}}  (From External API, Cannot Be Modified)</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPages" class="col-sm-2 control-label">Pages:</label>
        <div class="col-sm-10">
            <p class="form-control" id="inputPages">{{model.bookInfo.page}} (From External API, Cannot Be Modified)</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPrice" class="col-sm-2 control-label">Price($):</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPrice" ng-model="model.bookInfo.price">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAvailable" class="col-sm-2 control-label">Available:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputAvailable" ng-model="model.bookInfo.quantity">
        </div>
    </div>

    <div class="form-group">
        <label for="inputAuthorInfo" class="col-sm-2 control-label">Author Info:</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="6" id="inputAuthorInfo" ng-model="model.bookInfo.authorIntro">
            </textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="inputBookDesc" class="col-sm-2 control-label">Book Description:</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="10" id="inputBookDesc" ng-model="model.bookInfo.description">
            </textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-block btn-primary" ng-click="model.editBook()">Update</button>
        </div>
    </div>
</form>